@inherits FlagComponent

<div style="
    height: 32.19512px;
    background-size: 40px;
    display: inline-block;
    height: 32.19512px;
    width: 40px;
    background-position: 0 @FlagPos;
    background-image: url(/images/juicy-flag-sprite-6.svg);
"></div>
